@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');

.App {
  background-color: white;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 5px;
}

#main {
  display: flex;
  margin: 5px;
}
#left-col {
  flex-grow: 1;
  width: 100px;
}
#center-col {
  display: flex;
  align-content: center;
  flex-grow: 1;
  justify-content: center;
}

#right-col {
  flex-grow: 1;
}