@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');

.App {
  background-color: white;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 5px;
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#left-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#center-col {
  display: flex;
  align-content: center;
  justify-content: center;
}

#right-col {
  display: flex;
  justify-content: center;
}