#Friends {
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    padding: 5%;
    margin:5%;
    border-width: 2px;
    display: flex;
    justify-content: space-around;
}

#Friends img {
    width: 15%;
    height: 15%;
}